<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Menu Page</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../css/menu.css'>
        <!-- <script src='main.js'></script> -->
    </head>
    <body>
        <!--Tool Bar-->
        <nav>
        <div class="menu text-right">
            <div class="wrapper">
                <div class="logo">
                    <h1>KSCQA 對話式語音聊天系統</h1>
                </div>
                <ul>
                    <li><a href="menu.html">Home</a></li>
                    <!-- <li><a href="#">Other Tools...TBA</a></li> -->
                    <!-- <li><a href="login.html">Login</a></li> -->
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        </nav>
        <!--main content-->
        <div class="search-sec">
            <div class="wrapper">
                
                <div class="center">
                    <form>
                        <section class="main-controls">
                            <canvas class="visualizer" height="60px"></canvas>
                        </section>
                    </form>
                    <form>
                        <section>
                            <div id="buttons">
                              <button class="record">Record</button>
                              <button class="stop">Stop</button>
                            </div>
                        </section>
                    </form>
                    <form>
                        <section class="sound-clips">

                        </section>
                    </form>
                    
                    
                </div>
                <div class="label-text"><br><br><br></div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
                <script src="../js/onRecord.js"></script>

            </div>

        </div>

        <div class="main-content">
            <div class="wrapper">
                <div class="introduction">
                    <h1>簡介<hr></h1>
                </div>
                <div class="intro-content">
                    <div>
                        <p>
                        以下為此系統的大綱以及介紹。<br>
                        </p>
                        <h3> 背景 <hr></h3>
                        <p>
                            1. 語音助理的進步 例如: Google 、 Amazon <br>
                            2. AI以及機器學習變得熱門 <br>
                            3. 語音辨識已有基礎 <br>
                            4. 目前已有一些對話機器人 
                            <font size=4px>例如: Facebook 的 Blenderbot, Microsoft 的小冰.</font><br>
                            5. 語音助理在生活中的便利性 <br>
                            6. 無法進行交談式的溝通 <br>
                            7. 人們對於資訊和答案的需求 <br>
                            8. 交談在資訊交換的重要性 <br>
                            
                            => 凸顯出 Conversational QA 的重要性
                        </p>
                        <h3> 動機 <hr></h3>
                        <p>
                        1. (最初) 希望能與機器進行聊天/多輪交談 (閒聊) <br>
                        2. (進階) 希望能透過機器聊天來協助人們 (助理、網路查詢) <br>
                        3. (最終) 希望能透過機器聊天來進行如: 心理諮商 (任務型) <br>
                        </p>
                        <h3> 語音辨識 <hr></h3>
                        <p>
                        - 開源工具庫 Espnet <br>
                        - Libri Speech 英語語料集 <br>
                        建立端對端(End-to-End, E2E)英語語音辨識模型，
                        並將辨識結果作為 QA 系統的輸入。 <br>
                        </p>
                        <h3> 答案檢索 <hr></h3>
                        <p>
                        - 預訓練語言模型 BERT <br>
                        - 語料集 QUAC、CoQA <br>                                                
                        進行 CQA 模型的訓練，並根據 KG 的文章選擇答案輸出。 <br>
                        </p>
                        <h3> 文章選取 <hr></h3>
                        <p> 
                        - 網路搜尋引擎以及 Wikipedia 抓取資料、文章  <br>
                        - 建構 Knowledge Graph (KG) 選取歷史相關文章
                        <br>
                        作為答案檢索的輸入，從中擷取答案。 <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <div class="footer">
            <div class="wrapper">
                <p class="text-center">2021 All rights reserved, Developed by <a href="#">Willy-Chen</a></p>
            </div>
        </div>
    </body>
</html>
