/*
    css for meni
*/
:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: rgb(80, 206, 135);
    --color-dark-brand: #50a878;
    --height: 3.2rem;
    --btn-width: 50%;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.center{
    margin: auto;
    width: 80%;
    padding: 10px;
}

/*------------------------------------*/
.menu {
    width: 100%;
    line-height: 40px;
    background-color: white;
    border-bottom: 1px solid black;
}
.logo{
    float: left;
}
.menu ul{
    list-style-type: none;
    padding: auto;
}

.menu ul li{
    padding: 1%;
    display: inline;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #70a1ff;
}

.menu ul li a:hover{
    color: #1e90ff;
}
/*------------------------------------*/
.chat-sec{
    background: rgb(0,249,213);
    background: linear-gradient(90deg, rgba(0,249,213,1) 0%, rgba(37,189,167,1) 48%, rgba(0,212,255,1) 100%);
    padding: 2% 0;
}

.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 100px 100px 100px 100px 55px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.chat-box{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
    border: 2px solid black; 
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;   
}

.chat-box::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.record-box{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    border : 2px solid black; 
}

.send-box{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    border : 2px solid black; 
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    /* max-width: 25%; */
    width: fit-content
}

.row{
    width: 100%;
}

.no-gutters {
    padding: 0;
}

.chat-bubble--left {
    border-right-color: #eee;
    border-left: 0;
    float: left;
    clear: both;
}
    
.chat-bubble--right {
    float: right;
    border-left-color: "blue";
    border-right: 0;      
    text-align: right;
    clear:both;
}
  
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 50%;
}

.offset-md-9 {
    margin-left: 75%;
}

.main-controls{
    float: left;
    width: 80%;
}

button.record{
    float: left;
    width: 20%;
    font-size: 1.3rem;
}

button.send{
    width: 100%;
    font-size: 1.3rem;
}

.main-content{
    background-color: white;
    padding: 2% 0;
    border-top: 1px solid black;
}

.box{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2% ;
    float: left;
}

.introduction{
    color: black;
    line-height: 45px;
}

.intro-content{
    line-height: 2em;
    font-size: 24px;
}

.intro-content p{
    font-size: 20px;
    margin-left: 2em;
}

.intro-content p ol{  
    padding: 2%;
    margin-left: 2em;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    zoom: 40%;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

canvas {
  display: block;
  margin-bottom: 0.5rem;
  height: 100%;
}

.sound-clips {
    flex: 1;
    overflow: auto;
    width: 100%;
}

.clip {
    padding-bottom: 1rem;
    height: 100%;
    display: list-item;
    width: 90%;
    margin-left: 15px;
    list-style:none ;
}

audio {
    /* width: 100%; */
    display: block;
    /* margin: 1rem auto 0.5rem; */
    float: left;
    zoom: 90%;
}

.clip p {
    display: block;
    font-size: 1rem;
    visibility: hidden;
}

.clip button {
    font-size: 1rem;
    position: relative;
    display: block;
    float: left;
    width: 20%;
}

form {
  display: block;
  position: relative;
  width: 100%;
  height:  100%;
  /* background: var(--color-brand); */
  /* border-radius: var(--rad); */
  /* margin-top: 20px; */
}

input, button {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type="search"] {
  outline: 0; 
  width: 100%;
  /* background: var(--color-light); */
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; 
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: block; 
  top: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  /* border-radius: var(--rad) var(--rad) var(--rad) var(--rad); */
}

button.record {
    left: 0%;
}

button.stop {
    left: 50%;
}

button:hover{
    box-shadow: 0 1px 1px var(--color-dark-brand);
    background: var(--color-dark-brand);
    border: 1px var(--color-dark);
    box-shadow: 0 1px 1px var(--color-dark);
    color: var(--color-dark);
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

/* .main-controls {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
} 
*/

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.label-text{
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    padding: 2px;
}

/*------------------------------------*/
.footer{
    color: white;
    background-color:rgb(34, 34, 34);
}

.footer a{
    text-decoration: none;
    font-weight: bold;
    color: #ff7f50;
}

.footer a:hover{
    color: #ff6348;
}